#stock-sidebar > * {
    padding: 10px;
}

#stock-sidebar{
    width: 20%;
    max-width: 400px;
    border-radius: 5px;
    position: fixed;
    margin-top: 50px;
}

#toggle-watchlist-div{
    margin-top: 50px;
}

#transaction-select{
    width: 100%;
}

#watchlist-div{
    margin-top: 20px;
    width: 19%;
    max-width: 400px;
    position: fixed;
}

#buying-power-display, #estimated-cost-div{
    border-top: 1px solid rgb(227, 233, 237);
}

#stock-purchase-errors{
    margin: 20px 0 20px 0;
    font-weight: bold;
}

#stock-info{
    padding: 100px 20px 100px 20px;
    margin-top: 20px;
    font-size: 24px;
    text-align: center;
}

#stock-chart-lengths p{
    margin: 10px;
}

#about-component{
    margin: 50px 0;
}

#about-component-header{
    padding: 20px 0;
    border-bottom: 1px solid rgb(227, 233, 237);
}

#about-component-description{
    padding: 20px 0;
}

#about-component-description div{
    margin: 10px 0;
}

#buy-or-sell div{
    margin: 0 10px 0 0;
}

#buy-or-sell{
    border-bottom: 1px solid rgb(227, 233, 237);
}

#stock-news-header{
    padding: 20px 0;
    border-bottom: 1px solid rgb(227, 233, 237);
}

.news-article{
    padding: 20px 20px;
    display: grid;
    grid-template-columns: 4fr 1fr;
    height: 100px;
}

.thumbnail-image{
    max-width: 200px;
    max-height: 100px;
}

.thumbnail-image-container{
    justify-content: flex-end;
    align-content: center;
}
