#stock-sidebar > * {
    padding: 10px;
}

#stock-sidebar{
    width: 20%;
    max-width: 400px;
    border-radius: 5px;
    position: fixed;
    margin-top: 50px;
}

#toggle-watchlist-div{
    margin-top: 50px;
}

#transaction-select{
    width: 100%;
}

#watchlist-div{
    margin-top: 20px;
    width: 19%;
    max-width: 400px;
    position: fixed;
}

#buying-power-display, #estimated-cost-div{
    border-top: 1px solid grey;
}

#stock-purchase-errors{
    margin: 20px 0 20px 0;
    font-weight: bold;
}

#stock-info{
    padding: 100px 20px 100px 20px;
    margin-top: 20px;
    font-size: 24px;
    text-align: center;
}

#stock-chart-lengths p{
    margin: 10px;
}

#about-component{
    margin: 50px 0;
}

#about-component-header{
    padding: 20px 0;
    border-bottom: 1px solid grey;
}

#about-component-description{
    padding: 20px 0;
}

#about-component-description div{
    margin: 10px 0;
}
