/* TODO Add site wide styles */

*{
    padding: 0;
    margin: 0;
    background-color: black;
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.cursor-pointer{
    cursor: pointer;
}

.green-font-hover:hover, .green-font{
    color: rgb(0, 180, 5)
}

.green-background{
    background-color: rgb(0, 180, 5);
}

.orange-font-hover:hover, .orange-font{
    color: rgb(255, 80, 0);
}

.orange-background{
    background-color: rgb(255, 80, 0);
}

.dark-background, .dark-background *{
    background-color: rgb(30, 33, 36);
}

.dark-background-hover:hover *{
    background-color: rgb(30, 33, 36);
}

.grey-bottom{
    border-bottom: 1px solid rgb(64, 73, 78);
}

.grey-border{
    border: 1px solid rgb(64, 73, 78);
}

.light-gray-background{
    background-color: rgb(64, 73, 78);
}

.flex{
    display: flex;
}

.flex-left{
    justify-content: flex-start;
    width: 50%;
}

.flex-right{
    margin-left: auto;
    width: 50%;
    text-align: end;
}

.flex-quarter{
    width: 25%;
}

.text-right{
    text-align: right;
}

.upside-down{
    transform: rotate(180deg);
}

.center{
    text-align: center;
    margin: 0 auto 0 auto;
}

.no-border{
    border: none;
}

.bold{
    font-weight: bold;
}

.full-width{
    width: 100%;
}

.pad25{
    padding: 25px;
}
